/** @format */

img.media-object {
  max-width: 5rem;
  height: auto;
}

.login_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72vh;
}
.login_wrapper .content {
  width: 40rem;
}

.ck-editor__main .ck-content p {
  min-height: 10rem;
}
